---
interface Props {
  variant?: "primary" | "outline";
  href?: string;
  type?: "button" | "submit" | "reset";
  disabled?: boolean;
  class?: string;
}

const {
  variant = "primary",
  href,
  type = "button",
  disabled = false,
  class: className = "",
} = Astro.props;

const variants = {
  primary: "bg-black-onyx text-white-ghost hover:bg-black-onyx/90",
  outline:
    "bg-white-ghost text-black-onyx border border-black-onyx hover:bg-black-onyx/20",
};

const classes = `
inline-flex items-center justify-center gap-2 px-5 py-1 rounded transition-all duration-200 focus:outline-none
disabled:opacity-50 disabled:pointer-events-none ${variants[variant]} ${className}`;
---

{
  href ? (
    <a href={href} class={classes}>
      <slot />
    </a>
  ) : (
    <button type={type} disabled={disabled} class={classes}>
      <slot />
    </button>
  )
}
